/* button.scss */

.btn {
  /* Your regular button styles */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: auto;
  height: auto;
  border-radius: 1rem;
  border: none;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #5f5f5f;
  }
}
